doctype 5
html
  head
    meta(charset="utf8")
    title Tuiter + GMaps example
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.5/leaflet.css')
  body
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/js/jquery.min.js")
    script(src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
    script(src="/js/map.js")
