body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  color: #7d7d7d;
  text-decoration: none;
}
